<div class="row">

    <div class="inner cover">
        <h1 class="cover-heading">JEM Solutions Ltd</h1>

        <p class="lead">
            Software Engineering and Solutions Development.
        </p>

        <p class="lead">
            <a href="#" class="btn btn-lg btn-default">Find out more</a>
        </p>

    </div>
</div>

<br/>
<br/>

<div class="row">

    <div class="col-md-3">
        <img class="img-thumbnail" alt="110x110"
             src="/images/dist/links/octobiwan-110x100.png"
             style="width: 110px; height: 110px;">
    </div>

    <div class="col-md-3">
        <img class="img-thumbnail" alt="110x110"
             src="/images/dist/links/linkedin-110x100.png"
             style="width: 110px; height: 110px;">
    </div>

    <div class="col-md-3">
        <img class="img-thumbnail" alt="110x110"
             src="/images/dist/links/twitter-110x100.png"
             style="width: 110px; height: 110px;">
    </div>

    <div class="col-md-3">
        <img data-src="holder.js/110x110" class="img-thumbnail" alt="110x110"
             src="/images/dist/links/blog-110x100.png"
             style="width: 110px; height: 110px;">
    </div>

</div>